*.{$DOMAIN:localhost}, {$DOMAIN:localhost} {
	reverse_proxy localhost:8080
}

docs.{$DOMAIN:localhost} { 
	reverse_proxy localhost:4000
}

grafana.{$DOMAIN:localhost} { 
	reverse_proxy localhost:3000
}